* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Inter;
}

.container h1 {
  margin-top: 30px;
  font-size: 38px;
  color: #243010;
  font-weight: 500;
}

.container select {
  font-size: 16px;
  margin-top: 30px;
  padding: 10px 25px;
  border: 1px solid #2430103b;
  color: #243010;
}

.container input {
  font-size: 16px;
  padding: 10px 25px;
  border: 1px solid #2430103b;
  color: #243010;
}

.container button {
  font-size: 16px;
  padding: 10px 55px;
  border: 1px solid #2430103b;
  color: #243010;
  background-color: transparent;
  transition: 0.4s ease all;
}

.container button:hover {
  cursor: pointer;
  background-color: #243010;
  color: white;
}

.container h3 {
  margin-top: 30px;
  font-size: 30px;
  color: #243010;
  font-weight: 500;
}
